@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400,300);

body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

.cover {
  z-index: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,.4);
  background-size: cover;
  background-position: center center;
  filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  -moz-filter: blur(10px);
  -webkit-filter: blur(10px);
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -webkit-box-shadow: -1px 11px 21px -12px rgba(0,0,0,0.75);
  position: absolute;
  top: 0;
  left: 0;
}

div.score {
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,.85);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score p {
  font-size: 5vw;
  color: rgb(204, 204, 204);
  align-self: center;
}

play-again {
  font-size: 3vw;
  color: rgb(204, 204, 204);
  align-self: center;
}


div.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}


div.music-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}

div.count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  z-index: 2;
  background: rgba(255,255,255,.1);
  color: white;
  width: 4vw;
  height: 4vw;
  text-align: center;
  border-radius: 100px;
  border: 1px solid rgb(221, 221, 221);
  text-align: center;
  overflow: hidden;
}

.count p {
  font-size: 2vw;
}

.player {
  width: 30vw;
  height: 48vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.player .album {
  width: 25vw;
  height: 25vw;
  background-size: cover;
  background-position: center center;
  align-self: center;
  margin: 2vw 0;
  border-radius: 5%;
  overflow: hidden;
}

.player .track {
  font-weight: 800;
  font-size: 2.5vw;
  text-align: center;
  color: white;
  margin-bottom: 1vw;
}

.player .artist {
  font-weight: 300;
  font-size: 2vw;
  text-align: center;
  color: #fff;
  line-height: 20px;
  margin-bottom: 1vw;
}

input {
  width: 25vw;
  height: 2vw;
  padding: 15px 10px;
  border-radius: 20px;
  outline: none;
  font-size: 1.3vw;
  text-align: center;
  background: rgba(255,255,255,.1);
  -webkit-box-shadow: -1px 11px 21px -12px rgba(0,0,0,0.75);
  border: none;
  align-self: center;
  border: 1px solid rgb(148, 148, 148);
  margin-top: 1vw;
}

::-webkit-input-placeholder {
   color: rgb(210, 210, 210);
   font-size: 1vw;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgb(210, 210, 210);
   font-size: .5vw;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(210, 210, 210);
   font-size: .5vw;
}

:-ms-input-placeholder {
   color: rgb(210, 210, 210);
   font-size: .5vw;
}

line {
  width: 35vw;
  margin-bottom: 2vw;
  align-self: center;
  border-top: 1px solid white;
}
